$color-call: #000;
$color-tel: #0088cc;
$color-twitter: #2b97f1;
$color-dribbble: #ef5a92;
$color-instagram: #ff586b;
$color-linkedin: #006599;
$color-facebook: #3b5a9b;

@mixin social-icon($color) {
    background: $color;
    color: #fff;

    .tooltip {
        background: $color;
        color: currentColor;

        &:after {
            border-top-color: $color;
        }
    }
}

.contact {
    padding: 3rem;

    min-height: 70vh;
    width: 100%;
    height: auto;

    background: linear-gradient(
        40deg,
        rgba(3, 78, 144, 0.9) 0%,
        rgba(16, 232, 170, 0.9) 100%
    );

    .container {
        display: flex;
        align-items: center;
        flex-direction: column;

        gap: 5vh;

        height: 100%;
    }

    h2.title {
        font-size: clamp(2rem, 0.7rem + 5vw, 3rem);
        text-align: center;
        display: flex;
        align-items: center;
        gap: 1vw;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10vh;

        padding: 2rem;

        width: 100%;

        color: black;

        .title {
            opacity: 0.7;
        }

        .social-icons {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-column-gap: 10vw;

            .social-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                width: 80px;
                height: 80px;
                margin: 0 0.5rem;
                border-radius: 50%;
                cursor: pointer;
                font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
                font-size: 2.5rem;
                text-decoration: none;
                transition: all 0.15s ease;

                &:hover {
                    color: #fff;

                    .tooltip {
                        visibility: visible;
                        opacity: 1;
                        transform: translate(-50%, -150%);
                    }
                }

                &:active {
                    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset;
                }

                &.linkedin {
                    @include social-icon($color-linkedin);
                }
                &.twitter {
                    @include social-icon($color-twitter);
                }
                &.call {
                    @include social-icon($color-call);
                }
                &.facebook {
                    @include social-icon($color-facebook);
                }
                &.instagram {
                    @include social-icon($color-instagram);
                }
                &.dribbble {
                    @include social-icon($color-dribbble);
                }
                &.tel {
                    @include social-icon($color-tel);
                }

                .icon-svg {
                    position: relative;
                    top: 1px;
                }
                .tooltip {
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    padding: 0.8rem 1rem;
                    border-radius: 40px;
                    font-size: 0.8rem;
                    font-weight: bold;
                    opacity: 0;
                    pointer-events: none;
                    text-transform: uppercase;
                    transform: translate(-50%, -100%);
                    transition: all 0.3s ease;
                    z-index: 1;

                    &:after {
                        display: block;
                        position: absolute;
                        bottom: 1px;
                        left: 50%;
                        width: 0;
                        height: 0;
                        content: '';
                        border: solid;
                        border-width: 10px 10px 0 10px;
                        border-color: transparent;
                        transform: translate(-50%, 100%);
                    }
                }
            }
        }
    }
}
