// italic
$ITALIC: '';

// monospace
$MONO: monospace;

// bold
$BOLD: '';

// main
$MAIN: 'IRANSans-Light-web';


// display
$DISPLAY: '';

// backup
$BACKUP: -apple-system, 'Segoe UI', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji';
